.u-block-6434-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-6434-3 {
  position: absolute;
  left: 0;
}

.u-block-6434-4 {
  position: absolute;
  width: 65px;
  height: 65px;
  left: auto;
  right: 0;
}

 .u-section-1-1 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url("images/pexels-expect-best-79873-323780.jpg");
  background-size: cover;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 657px;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 700px;
  }
}

 .u-section-1-2 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url("images/pexels-fotoaibe-1571459.jpg");
  background-size: cover;
}

.u-section-1-2 .u-sheet-1 {
  min-height: 657px;
}

@media (max-width: 1199px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 700px;
  }
}

 .u-section-1-3 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url("images/pexels-heyho-7535063.jpg");
  background-size: cover;
}

.u-section-1-3 .u-sheet-1 {
  min-height: 657px;
}

@media (max-width: 1199px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 700px;
  }
}

 .u-section-1-4 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url("images/pexels-pixabay-221457.jpg");
  background-size: cover;
}

.u-section-1-4 .u-sheet-1 {
  min-height: 657px;
}

.u-section-1-4 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 0;
  position: relative;
}

.u-section-1-4 .u-layout-cell-1 {
  min-height: 200px;
}

.u-section-1-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1-4 .u-layout-cell-2 {
  min-height: 200px;
}

.u-section-1-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1-4 .u-layout-cell-3 {
  min-height: 200px;
}

.u-section-1-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1-4 .u-layout-cell-4 {
  min-height: 200px;
}

.u-section-1-4 .u-container-layout-4 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-1-4 .u-sheet-1 {
    min-height: 577px;
  }

  .u-section-1-4 .u-layout-cell-1 {
    min-height: 165px;
  }

  .u-section-1-4 .u-layout-cell-2 {
    min-height: 165px;
  }

  .u-section-1-4 .u-layout-cell-3 {
    min-height: 165px;
  }

  .u-section-1-4 .u-layout-cell-4 {
    min-height: 165px;
  }
}

@media (max-width: 991px) {
  .u-section-1-4 .u-sheet-1 {
    min-height: 442px;
  }

  .u-section-1-4 .u-layout-cell-1 {
    min-height: 126px;
  }

  .u-section-1-4 .u-layout-cell-2 {
    min-height: 126px;
  }

  .u-section-1-4 .u-layout-cell-3 {
    min-height: 126px;
  }

  .u-section-1-4 .u-layout-cell-4 {
    min-height: 126px;
  }
}

@media (max-width: 767px) {
  .u-section-1-4 .u-sheet-1 {
    min-height: 332px;
  }

  .u-section-1-4 .u-layout-cell-1 {
    min-height: 189px;
  }

  .u-section-1-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1-4 .u-layout-cell-2 {
    min-height: 189px;
  }

  .u-section-1-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1-4 .u-layout-cell-3 {
    min-height: 189px;
  }

  .u-section-1-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1-4 .u-layout-cell-4 {
    min-height: 189px;
  }

  .u-section-1-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1-4 .u-sheet-1 {
    min-height: 209px;
  }

  .u-section-1-4 .u-layout-cell-1 {
    min-height: 119px;
  }

  .u-section-1-4 .u-layout-cell-2 {
    min-height: 119px;
  }

  .u-section-1-4 .u-layout-cell-3 {
    min-height: 119px;
  }

  .u-section-1-4 .u-layout-cell-4 {
    min-height: 119px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 659px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 304px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 0.875rem;
  margin: 0 405px 0 30px;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  font-size: 0.75rem;
  margin: -14px 308px 0 212px;
}

.u-section-2 .u-text-3 {
  font-size: 0.625rem;
  margin: 0 321px 0 202px;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  font-size: 0.75rem;
  margin: -29px -202px 0 262px;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  font-size: 0.75rem;
  margin: -13px 210px 0 309px;
}

.u-section-2 .u-text-6 {
  font-size: 0.625rem;
  margin: -1px -255px 0 315px;
}

.u-section-2 .u-text-7 {
  font-size: 0.625rem;
  margin: -15px 390px 0 30px;
}

.u-section-2 .u-text-8 {
  font-size: 0.625rem;
  margin: -16px 271px 0 249px;
}

.u-section-2 .u-image-1 {
  width: 148px;
  height: 32px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-9 {
  font-size: 0.625rem;
  margin: 17px 30px 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 304px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-2 .u-image-2 {
  height: 79px;
  object-position: 50% 91.68%;
  width: 79px;
  background-image: url("images/08a3461f-6e0c-4b94-8524-b2fc1f0ce15b.jpg");
  background-position: 100% 50%;
  margin: 0 auto;
}

.u-section-2 .u-text-10 {
  font-weight: 700;
  font-size: 0.75rem;
  width: 113px;
  margin: 8px auto 0;
}

.u-section-2 .u-text-11 {
  font-size: 0.625rem;
  width: 269px;
  margin: 8px auto 0;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 22px auto 0;
  padding: 2px 34px 3px 32px;
}

.u-section-2 .u-social-icons-1 {
  height: 24px;
  min-height: 16px;
  width: 158px;
  min-width: 134px;
  margin: 17px auto 0;
}

.u-section-2 .u-icon-1 {
  height: 100%;
}

.u-section-2 .u-icon-2 {
  height: 100%;
}

.u-section-2 .u-icon-3 {
  height: 100%;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 257px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-text-12 {
  font-weight: 700;
  font-size: 0.75rem;
  margin: 0 375px 0 0;
}

.u-section-2 .u-text-13 {
  font-size: 0.625rem;
  margin: 8px 1px 0;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 200px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-map-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 450px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 251px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 335px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 20px;
    margin-right: 258px;
    margin-left: 162px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 271px;
    margin-left: 152px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    margin-right: 160px;
    margin-left: 259px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-7 {
    margin-top: 20px;
    margin-right: 320px;
    margin-left: 0;
  }

  .u-section-2 .u-text-8 {
    margin-right: 221px;
    margin-left: 199px;
  }

  .u-section-2 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 251px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 212px;
  }

  .u-section-2 .u-text-12 {
    width: 113px;
    margin-right: 275px;
  }

  .u-section-2 .u-text-13 {
    width: 269px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 165px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 372px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 225px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 203px;
    margin-left: 107px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 216px;
    margin-left: 97px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 105px;
    margin-left: 204px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 210px;
  }

  .u-section-2 .u-text-8 {
    margin-right: 166px;
    margin-left: 144px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 126px;
  }

  .u-section-2 .u-text-11 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-text-12 {
    margin-right: 165px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 126px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 876px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 189px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-11 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 189px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 596px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 315px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 25px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: -15px;
    margin-right: -194px;
    margin-left: 304px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 1px;
    margin-right: -129px;
    margin-left: 242px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-right: -249px;
    margin-left: 249px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-right: -61px;
    margin-left: 170px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-top: 0;
    margin-right: -178px;
    margin-left: 178px;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-top: -16px;
    margin-right: 10px;
  }

  .u-section-2 .u-text-8 {
    width: auto;
    margin-top: -18px;
    margin-right: -186px;
    margin-left: 296px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 10px;
  }

  .u-section-2 .u-text-9 {
    width: auto;
    margin-top: 8px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 119px;
  }

  .u-section-2 .u-text-11 {
    margin-left: 26px;
    margin-right: 26px;
  }

  .u-section-2 .u-text-12 {
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 119px;
  }
}